.board-cell {
    display: inline-block;
    position: relative;
    vertical-align: top;
    justify-content: center;
    align-items: center;
    padding: 2px;
    margin: 0;
    border: 1px solid #000;
    width: 64px;
    height: 64px;
    max-width: 64px;
    max-height: 64px;
}

.board-cell-content {
    display: flex;
    position: relative;
    justify-content: center;
    overflow: hidden;
    margin: 0;

    /* 100% - (2 * border + 2 * inset)px */
    width: calc(100% - 4px);
    height: calc(100% - 4px);

    inset: 1px;
    border: 1px solid #000;

    font-size: 8px;
}

.board-outer-cell-content {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
    width: 100%;
    height: 100%;

    font-size: 16px;
}

.board-cell-disabled {
    opacity: 0.3;
    background: #666;
    cursor: auto;
}

.board-cell-enabled {
    opacity: 1.0;
    cursor: pointer;
}


.board-cell-background-gray {
    background-color: #555;
}

.board-cell-background-dark-gray {
    background-color: #333;
}

.board-cell-background-light-gray {
    background-color: #aaa;
    color: #1a1a1a;
}

.board-cell-background-white {
    background-color: #fff;
    color: #1a1a1a;
}

.board-cell-background-scrap {
    background-color: #44a;
    color: #1a1a1a;
}

.popup-container {
    position: relative;
    width: 300px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    background-color: #101010;

    z-index: 3;
}

.popup-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    z-index: 1;
}

.popup-title {
    text-align: center;
    font-size: 24px;
}

.popup-body {
    text-align: left;
    font-size: 16px;
}

.board-cell-text {
    margin-top: 4px;
    font-size: 12px;
    overflow: hidden;
}

.board-cell-wall {
    background-image: url("assets/images/Wall.png");
}

.board-cell-tank {
    background-image: url("assets/images/Tank.png");
}
