.board-cell {
    display: inline-block;
    position: relative;
    vertical-align: top;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    border: 1px solid #000;
    width: 64px;
    height: 64px;
    max-width: 64px;
    max-height: 64px;
}

.board-cell-content {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;

    /* 100% - (2 * border + 2 * inset)px */
    width: calc(100% - 8px);
    height: calc(100% - 8px);

    inset: 3px;
    border: 1px solid #000;

    font-size: 8px;
}

.board-outer-cell-content {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
    width: 100%;
    height: 100%;

    font-size: 16px;
}

.board-cell-disabled {
    opacity: 0.3;
    background: #666;
    cursor: auto;
}

.board-cell-enabled {
    opacity: 1.0;
    cursor: pointer;
}


.board-cell-background-gray {
    background-color: #555;
}

.board-cell-background-dark-gray {
    background-color: #333;
}

.board-cell-background-light-gray {
    background-color: #aaa;
    color: #1a1a1a;
}

.board-cell-background-white {
    background-color: #fff;
    color: #1a1a1a;
}

.board-cell-background-gold {
    background-color: #fc0;
    color: #1a1a1a;
}
