:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  vertical-align: top;
  horiz-align: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

select {
  display: flex;
  border: #a1a1a1 solid 1px;
  border-radius: 4px;
  padding: 8px;
  margin-top: 8px;
  background-color: #1a1a1a;
  color: #dadada;
  font-size: 13px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  margin: 12px;
  padding: 0.8em 1.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #e8e8e8;
  background-color: #1a1a1a;
  transition: border-color 0.25s;
}

button:enabled {
  cursor: pointer;
}

button:enabled:hover {
  border-color: #646cff;
}

button:enabled:focus,
button:enabled:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button:disabled {
  background-color: #a1a1a1;
  text-decoration: line-through;
}
